* {
  margin:0px;
  padding:0px;
  text-decoration:none;
  }
  
pre,code{font:12px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;}
img { border: 0px; }
a { color:blue; }
a:visited { color:blue; }

body {
  text-align:center;  /* to fix IE6 overrides */
  font-size:12px;
  font-family: helvetica,arial,freesans,clean,sans-serif;
  background-color: #dbe1ed;
  }

#wrapper {
  width:98%;
  margin:0px auto;
  text-align:left;    /* restore alignment post-ie6-fix */ 
}

#topmenu {
  text-align:right;
  font-size:1em;
  padding-right:10px;
  padding-top:5px;
}

/* header */
#headarea {
  min-height:40px;
}

#headcontent{
}

.baseLogo {
	display:inline-block;
}

.mainMenu{
	text-align:center;
	width:80%;
	display:inline-block;
}

.mainMenu ul li { 
	list-style:none; 
	display:inline-block; 
}
.mainMenu ul li a { color:#444; }
.mainMenu ul li a:hover { color:#fff; }

/* other layout structures */
#content { min-height:400px; margin:0px auto; width:98%;}

#footer { margin-top:40px; color:#aaaaaa; text-align:center; }


/* Login page styles */
.boxContent { 
  text-align:left; 
  margin:5px;
  padding:10px;
  }
#leftBox, #rightBox {
  text-align:center;    /* for equal spacing  */
  width:48%;
  display:inline-block;
}
#rightBox{ 
	float:right; 
	}

#rightBox .boxContent {
	background:#efefef;
	background: -webkit-gradient(linear, left top, left bottom, from(#dbe1ed), to(#ffffff));
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
}

#welcome h3{
  text-align:center;
  margin-top:5px;
  margin-bottom:10px;
  
}
#welcome p {
  padding:10px;
  background: #ebf1fd;
  border-radius:15px;
  -moz-border-radius:15px;
  margin-bottom:10px;
}
#loginForm, #regForm, #frmReportBug { padding:10px;}
#loginForm label, #regForm label, #frmReportBug .frmBig label { display:block; clear:both; }
#loginForm input, #regForm input, #frmReportBug .frmBig input { width:95%; padding:5px; clear:top; margin:0px auto; margin-bottom:10px; margin-top:10px;}  
#loginForm button, #regForm button, #frmReportBug .frmBig button, .h_revisionbox button { padding: 2px 10px; margin-right:10px; }
#regForm {display:none;}

.errorflash, .successflash{
	clear:both;
	margin: 0px 5px 10px 5px;
	padding:10px;
	background:red;
	color:white;
	font-weight:bold;
	display:none;
	}
.successflash { background:green; }
/* Home page */
.welcomeReport {
	text-align:left;
	font-size:1.2em;
	}
.bigName {
	font-size:1.4em;
}
.welcomeReport p, .welcomeReport div{
	background: #dddddd;
	border-radius:10px;
	-moz-border-radius:10px;
	padding:10px;
	margin:5px;
}
.welcomeReport div input {
	width:88%;
}
.welcomeReport div button{
	width:10%;
}
.welcomeReport p a {
	font-size:1.5em;
	font-weight:bold;
	border-bottom:1px #444 dotted;
}
.welcomeReport p span a { /* specific to admin pages */
	font-size:0.7em;
	font-weight:normal;
	border-bottom:none;
	color:#000;
	background:#fff;
	border-radius:5px;
	padding:3px 10px;
	float:right;
}
.welcomeReport p span a:hover { /* specific to admin pages */
	font-size:0.8em;
	font-weight:normal;
	border-bottom:none;
	color:#000;
	background:#faa;
	border-radius:5px;
	padding:3px 10px;	
}
.welcomeReport p a:visited {
	color:#000;
	}
.welcomeReport .userOpen{
	background: #FCF0AE;
}
.welcomeReport .userWork{
	background: #CCEBFC;
}
.welcomeReport .userClose{
	background: #CBFFAF;
}
.welcomeReport .activityBox{
	background: #B2E4FF;
}
.welcomeReport ul li{ margin-left:40px; }

.activityBox ul li { list-style:none; padding:10px; background:#efefff; margin:4px; border-radius:5px; }

/* Reusable components */
input:focus {
	background:#FFFFBB;
}
textarea:focus {
	background:#FFFFBB;
}

.rounded {
	/* rounded css3 from bakabot */
	background-color: #f4f4f4;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff), color-stop(0.2, #f4f4f4), color-stop(0.3, #f2f2f2), color-stop(0.7, #f2f2f2));
	color:#333;
	border-radius:5px;
	-moz-border-radius:5px;
	padding:5px 15px;
	margin:5px 5px -5px 5px;
	font-size:1.0em;
	-webkit-box-shadow: 1px 1px 5px #aaa;
	-moz-box-shadow: 1px 1px 5px #aaa;
	overflow:hidden;
}

.rounded:hover {
	background-color: #999;
	background: -webkit-gradient(linear, left top, left bottom, from(#999), to(#999), color-stop(0.2, #aaa), color-stop(0.3, #aaa), color-stop(0.7, #aaa));
}

.rounded_selected {
	background-color: #999;
	background: -webkit-gradient(linear, left top, left bottom, from(#999), to(#999), color-stop(0.2, #aaa), color-stop(0.3, #aaa), color-stop(0.7, #aaa));
	color:#fff;
	font-weight:bold;
	border-radius:5px;
	-moz-border-radius:5px;
	padding:5px 15px;
	margin:5px 5px -5px 5px;
	font-size:1.0em;
	-webkit-box-shadow: 1px 1px 5px #aaa;
	-moz-box-shadow: 1px 1px 5px #aaa;
	overflow:hidden;
}
.mainMenu ul .rounded_selected a { color: #fff; text-shadow: -1px -1px 1px #959595;}

#contentSpacer {
	margin-top:20px;
	background:#ffffff;
	-webkit-box-shadow:1px 1px 5px #ccc;
	-moz-box-shadow:1px 1px 5px #ccc;
	padding:30px;
}

.greenbox{
	border-radius:5px;
	padding:2px 5px;
	margin:2px 5px;
	border:1px solid #5bbb65;
	color:white;
	font-weight:bold;
	text-shadow: -1px -1px 1px #44984d;
	background-color:#3ea949;
	background: -webkit-gradient(linear, left top, left bottom, from(#65d070), to(#3ea949));
}

/* add new bug page */
#frmReportBug .frmBig { padding-left:4%; margin:0px auto; }
#frmReportBug textarea { width:95%; padding:5px; overflow:auto; height:80px; }
#frmReportBug .frmBig { margin-bottom:20px; padding-bottom:10px; border-bottom: 1px solid #ddd; }

#frmReportBug .frmSmall label { margin:20px; display:inline-block;}
#frmReportBug button { padding:5px 20px; margin-right:10px;}

/* bug listings */
#buglist ul li {
	background: #dddddd;
	border-radius:10px;
	-moz-border-radius:10px;
	padding:5px;
	margin:2px;
	list-style:none;
	display:inline-block;
	width:97%;
	overflow:hidden;
}

#buglist ul li div {
	display:inline-block; border-right:1px solid #aaa; padding-right:3px; padding-left:3px;
	overflow:hih_commentdden;
}
#buglist ul li.heading { font-weight:bold;}
#buglist ul li div.l_bid{ width:5%; }
#buglist ul li .l_status{ width:10%; }
#buglist ul li .l_priority{ width:5%; }
#buglist ul li .l_affects{ width:20%; }
#buglist ul li div.l_subject{ width:30%; font-weight:bold;}
#buglist ul li .l_category{ width:10%; }
#buglist ul li .l_lastupdate{ width:10%; }

#buglist ul li.open { background: #FCF0AE; }
#buglist ul li.closed { background: #FFCCCC; }
#buglist ul li.inprogress, #buglist ul li.underprogress { background: #CCEBFC; }
#buglist ul li.fixed { background: #CBFFAF; }

.validationError {
  padding:5px;
  text-align:center;
  width:100%;
  display:none;
}

.validationError p {
  margin:0px 3px;
  display:inline-block;
  padding:5px 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background:#f6d5d5;
  color:red;
}

/* project list page */
#buglist ul .l_project { background: #BFEAFF; }
#buglist ul li .l_pid{ width:5%; }
#buglist ul li .l_projectname { width:40%; font-weight:bold; }
#buglist ul li .l_owner{ width:17%; }
#buglist ul li .l_open{ width:10%; }
#buglist ul li .l_keywords{ width:20%; }


/* bug description page */

#buglist ul li .h_rid{ width:5%; }
#buglist ul li .h_status{ width:10%; }
#buglist ul li .h_priority{ width:10%; }
#buglist ul li .h_commenter{ width:22%; }
#buglist ul li .h_owner{ width:22%; }
#buglist ul li .h_timestamp{ width:20%; }

#buglist ul li.h_comment{
	background:#fff;
	border-radius: 5px;
	border:1px solid #ddd;
}
.bug_desc {
	margin:5px;
	padding:5px;
}
.bug_desc h3 {
	background: #acb7bc;
	padding:5px;
	border-radius:5px 5px 0px 0px;
	color:#fff;
	text-shadow:1px 1px 2px #8c878c;
}
.bug_desc div {
	background: #efefef;
	padding:10px;
}
.bug_desc .bug_desc_end{
	border-radius:0px 0px 10px 5px;
	background:#dddddd;
	padding:5px;
	border-top:#eee 1px solid;
}
.bug_desc .bug_desc_end p { 
	display:inline-block; 
	margin:5px 5px 5px 0px;
}
.bughistory { margin:10px; }

.bug_desc .bug_desc_end p span, .bluebox{
	border-radius:5px;
	padding:2px 5px;
	margin:2px 2px;
	border:1px solid #518cc6;
	color:white;
	font-weight:bold;
	text-shadow: -1px -1px 1px #366694;
	background: -webkit-gradient(linear, left top, left bottom, from(#599bdc), to(#3072b3));
	background-color:#3072b3;
}

.h_revisionbox {
	margin-top:50px;
}
.h_revisionbox select, .h_revisionbox input {
	width:90%;
}
#buglist #h_rev_comment { display:block; border-right:none; clear:both; margin-top:10px; padding:10px; }
#txtComment { 
	width:99%; 
	border-radius:10px;
	border:1px solid #999;
	padding:5px;
	height:40px;
}

.h_comment_text { padding:5px; display:block; }
