<div id='contentSpacer'>
	<h2>Add a new bug</h2>
	<form id='frmReportBug' action='/index.php?page=addNew' method='post'>
		<div class='frmBig'>
			<label for='bugName'>Subject: </label>
			<input type='text' name='bugName' id='bugName'/>

			<label for='description'>Description: </label>
			<textarea name='description' id='description'></textarea>
		</div>
		
    <div id='validationErrors' class='validationError'>
    </div>

		<div class='frmSmall'>
			<label for='affectedVersion'>Affected version: </label>
			<input type='text' name='affectedVersion' id='addectedVersion'/>

			<label for='project'>Belongs to: </label>
			<select name='project' id='project'>
				{section name=i loop=$projects}
					<option value='{$projects[i].id}'>{$projects[i].name}</option>
				{/section}
			</select>
			
			<label for='affectedProject'>Also affects: </label>
			<select name='affectedProject' id='affectedProject'>
				<option value='0'>none</option>
				{section name=i loop=$projects}
					<option value='{$projects[i].id}'>{$projects[i].name}</option>
				{/section}
			</select>
			
			<br />
			
			<label for='priority'>Priority: </label>
			<select name='priority' id='priority'>
				{section name=i loop=$priorities}
					<option value='{$priorities[i].id}'>{$priorities[i].label}</option>
				{/section}
			</select>
			
			<label for='bugType'>Bug type: </label>
			<select name='bugType' id='bugType'>
				{section name=i loop=$categories}
					<option value='{$categories[i].id}'>{$categories[i].label}</option>
				{/section}
			</select>
			
			<label for='status'>Status: </label>
			<select name='status' id='status'>
				{section name=i loop=$statuses}
					<option value='{$statuses[i].id}'>{$statuses[i].label}</option>
				{/section}
			</select>
			
			<label for='keywords'>Keywords: </label>
			<input type='text' name='keywords' id='keywords' />
			
		</div>
		<button type='button' onclick='javascript:validateAddNewBug()'>
			<strong>Add</strong>
		</button>
	</form>
</div>
