<div id='contentSpacer'>
	<h2>Bug<sup>Base</sup> Administration</h2>
	<hr /> <br />
	<div id='leftBox'>
		<div class='welcomeReport'>
			<h3>Statuses</h3>
			{section name=i loop=$statuses}
				<p>{$statuses[i].label} <span><a href="/index.php?page=delStatus&status={$statuses[i].id}">del</a></span> </p>
			{/section}
			<div>
				<form action='/index.php?page=addStatus' method='post'>
					<input type='text' name='label'/>
					<button type='submit'>+</button>
				</form>
			</div>
		</div>
		<br />
		<div class='welcomeReport'>
			<h3>Categories</h3>
			{section name=i loop=$categories}
				<p>{$categories[i].label} <span><a href="/index.php?page=delCat&cat={$categories[i].id}">del</a></span> </p>
			{/section}
			<div>
				<form action='' method='post'>
					<input type='text' name='label'/>
					<button type='submit'>+</button>
				</form>
			</div>
		</div>
		
	</div>
	<div id='rightBox'>
		<div class='welcomeReport'>
			<h3>Priorities</h3>
			{section name=i loop=$priorities}
				<p>{$priorities[i].label} <span><a href="/index.php?page=delPri&pri={$priorities[i].id}">del</a></span> </p>
			{/section}
			<div>
				<form action='' method='post'>
					<input type='text' name='label'/>
					<button type='submit'>+</button>
				</form>
			</div>
		</div>
		<br />
		<div class='welcomeReport'>
			<h3>Users</h3>
			{section name=i loop=$users}
				<p>{$users[i].name} <span><a href="/index.php?page=delUser&uid={$users[i].id}">del</a></span></p>
			{/section}
		</div>
	</div>
</div>
