<div id='contentSpacer' class='bugContainer'>
	<h2>Bug/Feature/Defect #3424</h2>
	<div class='bug_desc'>
		<h3>Foo doesn't work under linux</h3>
		<div>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			<div>
				Keywords : foo bar, beep
			</div>
		</div>
	</div>
	<div class='statusline'>
		<p>Created - <span>Sat Apr 24 09:31:57 IST 2010</span></p>
		<p>Initial status - <span>Open</span></p>
		<p>Affected project - <span>Gwibber</span></p>
		<p>Versions affected - <span>1.2, 1.4</span></p>
		<p>Also affects - <span>gwibbly</span></p>
		<p>Priority - <span>Low</span></p>
	</div>
</div>
