<div id='contentSpacer' class='bugContainer'>
	<h2>{$bugdata[0].bugType} #{$bugdata[0].id}</h2>
	<div class='bug_desc'>
		<h3>{$bugdata[0].bugName}</h3>
		<div>
			{$bugdata[0].description}
		</div>
		<div class='bug_desc_end'>
			<p>Created by <span>{$bugdata[0].createdBy}</span></p>
			<p>at <span>{$bugdata[0].createdAt}</span></p>
			{if ($bugdata[0].affectedVersion != '')}
				<p>affects version 
					<span>{$bugdata[0].affectedVersion}</span>
				</p>
			{/if}
			{if ($bugdata[0].affectedProject != '')}
				<p>
					{if ($bugdata[0].affectedVersion != '')} and {else} affects {/if}the project <span>{$bugdata[0].affectedProject}</span>
				</p>
			{/if}
			<p>Keywords <span>{$bugdata[0].keywords}</span></p>
		</div>
	</div>
	
	<div class='bughistory'>
		<h3>Bug history</h3>
		<div id='buglist'>
			<ul>
				<li class='heading'>
					<div class='h_rid'> Rev. id </div>
					<div class='h_status'> Status </div>
					<div class='h_priority'> Priority </div>
					<div class='h_commenter'> Revised by </div>
					<div class='h_owner'> Assigned to </div>
					<div class='h_timestamp'> Updated on </div>
				</li>
				
				{section name=i loop=$bughistory}
					<li class='{$bughistory[i].status|replace:' ':''}'>
						<div class='h_rid'> #{$smarty.section.i.index+1} </div>
						<div class='h_status'> {$bughistory[i].status} </div>
						<div class='h_priority'> {$bughistory[i].priority} </div>
						<div class='h_commenter'> {$bughistory[i].addedBy} </div>
						<div class='h_owner'> {if ($bughistory[i].assignedTo!='0')} {$bughistory[i].assignedTo} {else} no one {/if} </div>
						<div class='h_timestamp'> {$bughistory[i].timestamp} </div>
					</li>
					{if ($bughistory[i].comment!='')}
						<li class='h_comment'>
							<p>
								<span class='bluebox'>{$bughistory[i].addedBy}</span> says:
								<span class='h_comment_text'>{$bughistory[i].comment}</span>
							</p>
						</li>
					{/if}
				{/section}
			</ul>
		</div>
	
		<div class='h_revisionbox'>
			<div id='validationErrors' class='validationError'></div>
			<h3>Add a new revision</h3>
			<form action='/index.php?page=updateBug' method='post' id='frmBugStatus'>
				<input type='hidden' value='{$bugdata[0].id}' name='bug_id' />
				<input type='hidden' value='{$user_id}' name='addedBy' />
				<div id='buglist'>
					<ul>
						<li class='heading'>
							<div class='h_rid'> Rev. id </div>
							<div class='h_status'> Status </div>
							<div class='h_priority'> Priority </div>
							<div class='h_commenter'> Revised by </div>
							<div class='h_owner'> Assigned to </div>
							<div class='h_timestamp'> Updated at </div>
						</li>
						<li class=''>
							<div class='h_rid'> #10 </div>
							<div class='h_status'>
								<select name='status' id='status'>
									{section name=i loop=$statuses}
										<option value='{$statuses[i].id}' {if ($statuses[i].label == $bugdata[0].status)} selected {/if} >{$statuses[i].label}</option>
									{/section}
								</select>
							</div>
							<div class='h_priority'>
								<select name='priority' id='priority'>
									{section name=i loop=$priorities}
										<option value='{$priorities[i].id}' {if ($priorities[i].label == $bugdata[0].priority)} selected {/if}>{$priorities[i].label}</option>
									{/section}
								</select>
							</div>
							<div class='h_commenter'> <span class='greenbox'>Abhishek</span> </div>
							<div class='h_owner'>s
								<select name='assignedTo'>
									<option value='0'>no one</option>
									{section name=i loop=$users}
										<option value='{$users[i].id}' {if ($users[i].id == $bugdata[0].assignedTo)} selected {/if} >{$users[i].name}</option>
									{/section}
								</select>
							</div>
							<div class='h_timestamp'> <span class='greenbox'>right now</span> </div>
							
							<div id='h_rev_comment'>
								<h4>Comment:</h4>
								<textarea name='comment' id='txtComment'></textarea>
							</div>
							<button type='button' onclick='javascript:validateBugStatus()'>
								<strong>Add</strong>
							</button>
						</li>
					</ul>
				</div>
			</form>
		</div>
	</div>
	<!--
	<div class='statusline'>
		<p>Created - <span>Sat Apr 24 09:31:57 IST 2010</span></p>
		<p>Initial status - <span>Open</span></p>
		<p>Affected project - <span>Gwibber</span></p>
		<p>Versions affected - <span>1.2, 1.4</span></p>
		<p>Also affects - <span>gwibbly</span></p>
		<p>Priority - <span>Low</span></p>
	</div>
	-->
</div>
