<div id='contentSpacer'>
	<h2>{$buglist_heading}</h2>
	<div id='buglist'>
		<ul>
			<li class='heading'>
				<div class='l_bid'> Bug id </div>
				<div class='l_subject'> Subject </div>
				<div class='l_status'> Status </div>
				<div class='l_affects'> Project </div>
				<div class='l_priority'> Priority </div>
				<div class='l_category'> Category </div>
				<div class='l_lastupdate'> Last updated </div>
			</li>
			
			{section name=i loop=$buglist}
				<li class='{$buglist[i].status|replace:' ':''}' 
					{ if (isset($highlight) && $highlight == $buglist[i].id) } id='highlighted' { /if }>
				<div class='l_bid'> #{$buglist[i].id} </div>
				<div class='l_subject'> 
					<a href='/index.php?page=bug&bu_id={$buglist[i].id}'>
						{ $buglist[i].bugName } 
					</a>
				</div>
				<div class='l_status'> {$buglist[i].status} </div>
				<div class='l_affects'>{$buglist[i].project_name}</div>
				<div class='l_priority'> {$buglist[i].priority} </div>
				<div class='l_category'> {$buglist[i].bugType} </div>
				<div class='l_lastupdate'> {$buglist[i].timestamp|date_format:"%Y/%m/%d"} </div>
			{/section}
			
			<!-- template reference begins
			<li class='open'>
				<div class='l_bid'> #34 </div>
				<div class='l_status'> open </div>
				<div class='l_affects'> Crm4.x </div>
				<div class='l_priority'> high </div>
				<div class='l_subject'> Crashes on linux </div>
				<div class='l_category'> defect </div>
				<div class='l_lastupdate'> 23-5-10 </div>
			</li>
			
			<li class='inprogress'>
				<div class='l_bid'> #33 </div>
				<div class='l_status'> working </div>
				<div class='l_affects'> Crm4.1 </div>
				<div class='l_priority'> low </div>
				<div class='l_subject'> Crashes on linux </div>
				<div class='l_category'> defect </div>
				<div class='l_lastupdate'> 23-5-10 </div>
			</li>
			
			<li class='closed'>
				<div class='l_bid'> #31 </div>
				<div class='l_status'> closed </div>
				<div class='l_affects'> Crm4.0 </div>
				<div class='l_priority'> low </div>
				<div class='l_subject'> Crashes on linux </div>
				<div class='l_category'> defect </div>
				<div class='l_lastupdate'> 21-5-10 </div>
			</li>
			
			<li class='fixed'>
				<div class='l_bid'> #31 </div>
				<div class='l_status'> closed </div>
				<div class='l_affects'> Crm4.0 </div>
				<div class='l_priority'> low </div>
				<div class='l_subject'> Crashes on linux </div>
				<div class='l_category'> defect </div>
				<div class='l_lastupdate'> 21-5-10 </div>
			</li>
			end of template reference 
			-->
		</ul>
	</div>
</div>
