<div id='contentSpacer'>
    <div id='leftBox'>
        <div class='welcomeReport'>
            <h3>
                Hi <a href='#'> {$user_fullname} </a> !
            </h3>
            <p class='userOpen'>
                You have <a href='/index.php?page=list&filter=self_open'>{$my_open_count}</a> open bugs assigned to you.
            </p>
            <p class='userClose'>
                So far, you have fixed <a href='/index.php?page=list&filter=self_fixed'>{$my_fixed_count}</a> bugs.
            </p>
            <br />
            <h3>You last 10 bugs</h3>
            {section name=i loop=$last10}
				<p>
					<a href="#">#{$last10[i].bug_id}</a>
					<small><i>{$last10[i].timestamp}</i> - {$last10[i].comment}</small>
				</p>
            {/section}
        </div>
    </div>
    <div id='rightBox'>
        <div class='welcomeReport'>
            <h2>Activity</h2>
            <div class='activityBox'>
                <h3>Today</h3>
                <ul>
                    <li>
                        Feature #4342 (closed) by Abhishek
                    </li>
                    <li>
                        Bug #342 (commented) by Mrigank
                        <br />
                        <small> lorem ipsum dolor bla bla</small>
                    </li>
                </ul>
            </div>
            <div>
                <h3>Last week</h3>
                <ul>
                    <li>
                        Feature #4342 (closed) by Abhishek
                    </li>
                    <li>
                        Bug #342 (commented) by Mrigank
                        <br />
                        <small> lorem ipsum dolor bla bla</small>
                    </li>
                </ul>
            </div>
            <div>
                <h3>Last week</h3>
                <ul>
                    <li>
                        Feature #4342 (closed) by Abhishek
                    </li>
                    <li>
                        Bug #342 (commented) by Mrigank
                        <br />
                        <small> lorem ipsum dolor bla bla</small>
                    </li>
                </ul>
            </div>
            <div>
                <h3>Last week</h3>
                <ul>
                    <li>
                        Feature #4342 (closed) by Abhishek
                    </li>
                    <li>
                        Bug #342 (commented) by Mrigank
                        <br />
                        <small> lorem ipsum dolor bla bla</small>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
