<div id='contentSpacer'>
    <div id='leftBox'>
        <div class='welcomeReport'>
            <h3>
                Hi <a href='#'> {$user_fullname} </a> !
            </h3>
            <p class='userOpen'>
                You have <a href='/index.php?page=list&filter=self_open'>{$my_open_count}</a> open bugs assigned to you.
            </p>
            <p class='userWork'>
                Currently, you're working on <a href='/index.php?page=list&filter=self_working'>{$my_active_count}</a> bugs.
            </p>
            <p class='userClose'>
                So far, you have fixed <a href='/index.php?page=list&filter=self_fixed'>{$my_fixed_count}</a> bugs.
            </p>
            <br />
            <h3>You've been upto -</h3>
            {section name=i loop=$last10}
				<p>
					<a href="/index.php?page=bug&bug_id={$last10[i].bug_id}">#{$last10[i].bug_id}</a>
					<small><i>{$last10[i].timestamp}</i> - {if ($last10[i].comment == '')} bug created {else } {$last10[i].comment|truncate:100:"..."|escape} {/if}</small>
				</p>
            {/section}
        </div>
    </div>
    <div id='rightBox'>
        <div class='welcomeReport'>
            <h2>Activity</h2>
            <div class='activityBox' style='background:#fff;'>
                <h3>Today</h3>
                <ul>
					{section name=i loop=$bugsToday}
						<li>
							<a href="/index.php?page=bug&bug_id={$bugsToday[i].bug_id}">
								#{$bugsToday[i].bug_id}
							</a> {if ($bugsToday[i].comment == '')}created{/if} by <span class='bluebox'><small>{$bugsToday[i].addedBy}</small></span>
							<small><i>{$bugsToday[i].timestamp|date_format:'%H:%M %p'}</i> 
							<br />
							{$bugsToday[i].comment|truncate:100:"..."|escape}</small>
						</li>
					{/section}
                </ul>
            </div>
            <div class='activityBox' style='background:#fff;'>
                <h3>Previously</h3>
                <ul>
                    {section name=i loop=$bugsOld}
						<li>
							<a href="/index.php?page=bug&bug_id={$bugsOld[i].bug_id}">
								#{$bugsOld[i].bug_id}
							</a> {if ($bugsOld[i].comment == '')}created{/if} by <span class='bluebox'><small>{$bugsOld[i].addedBy}</small></span>
							<small><i>{$bugsOld[i].timestamp}</i> - {$bugsOld[i].comment|truncate:100:"..."|escape}</small>
						</li>
					{/section}
                </ul>
            </div>
        </div>
    </div>
</div>
